@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-CV-height {
    height: 95vh;
    height: min(95vh, 29.7cm);
  }

  .font-sans {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .super-ease-out {
    transition-timing-function: cubic-bezier(0.615, 0.015, 0.960, 0.645);
  }

  .transition-max-height {
    transition: max-height .5s;
  }

  .transition-height {
    transition: height .5s;
  }

}
