@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-CV-height {
    height: 95vh;
    height: min(95vh, 29.7cm);
  }

  .font-serif {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}
